<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>ConnectTool</Name>
    <Version>0.85</Version>
    <Title>ConnectTool 安装器</Title>
    <Publisher>chunyuvpn</Publisher>
    <StartMenuDir>ConnectTool</StartMenuDir>
    <TargetDir>@RootDir@/ConnectTool</TargetDir>
    <InstallerApplicationIcon>../qml/chunyuvpn/logo.ico</InstallerApplicationIcon>
    <InstallerWindowIcon>../qml/chunyuvpn/logo.ico</InstallerWindowIcon>
    <Logo>../qml/chunyuvpn/logo.ico</Logo>
</Installer>
